{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/addConnection.css">
	<link rel="stylesheet" href="/assets/css/settings.css">
	<style>
		.hidden {
			display: none;
		}
	</style>
{% endblock %}

{% block main %}
	<main>
		<div class="form-container">
			<form method="POST" id="dbForm">
				<div class="title">
					<h4>DB Connection</h4>
					{% if mode == 'connect' %}
						<p>Connect to an existing database</p>
					{% else %}
						<p>Create a new database connection</p>
					{% endif %}
				</div>

				<div class="fields">
					<label for="type">Database Type</label>
					<select name="type" required {% if mode == 'connect' %} readonly disabled {% endif %}>
						<option value="">Select database type</option>
						<option value="mysql" {% if formData.type == 'mysql' %} selected {% endif %}>MySQL</option>
					</select>
				</div>

				<div class="fields">
					<label for="host">Host</label>
					<input type="text" name="host" value="{{ formData.host | default('') }}" required {% if mode == 'connect' %} readonly {% endif %}>
				</div>

				<div class="fields">
					<label for="port">Port</label>
					<input type="text" name="port" value="{{ formData.port | default('') }}" required {% if mode == 'connect' %} readonly {% endif %}>
				</div>

				<div class="fields">
					<label for="name">Database name</label>
					<input type="text" name="name" value="{{ formData.name | default('') }}" required {% if mode == 'connect' %} readonly {% endif %}>
				</div>

				<div class="fields">
					<label for="username">Username</label>
					<input type="text" name="username" value="{{ formData.username | default('') }}" required>
				</div>

				<div class="fields">
					<label for="password">Password</label>
					<input type="password" name="password" value="{{ formData.password | default('') }}" required>
				</div>

				<div class="cancel-validate">
					<a href="/">Cancel</a>
					{% if mode == 'connect' %}
						<button type="submit" id="connectBtn" class="btn-normal" formaction="/connectExistingDb">Connect</button>
					{% else %}
						<button type="button" id="testBtn" class="btn-normal">Test Connection</button>
						<button type="submit" id="connectBtn" class="btn-normal hidden" formaction="/addConnection">Create Connection</button>
					{% endif %}
				</div>
			</form>
		</div>
	</main>
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="/js/toastify.js"></script>
	<script src="/js/connectionBtn.js"></script>
	<script src="/js/connectToDb.js"></script>
	<script src="/js/testMySqlConnection.js"></script>

	{% if toast %}
		<script>
			showToast("{{ toast.message|e('js') }}", "{{ toast.type }}");
		</script>
	{% endif %}
{% endblock %}
