{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/settings.css">
	<link rel="stylesheet" href="/assets/css/join.css">
{% endblock %}

{% block main %}
	<form action="/join-tables" method="POST">
		<div>
			<label>Table 1 :</label>
			<select id="table1" name="table1" required>
				<option value="" disabled selected>-- Choisir une table --</option>
				{% for table in selectedTables %}
					<option value="{{ table }}">{{ table }}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<label>Table 2 :</label>
			<select id="table2" name="table2" required>
				<option value="" disabled selected>-- Choisir une autre table --</option>
				{% for table in selectedTables %}
					<option value="{{ table }}">{{ table }}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<label>Colonne commune :</label>
			<select name="commonColumn" required>
				{% for key, cols in commonColumns %}
					{% for col in cols %}
						<option value="{{ col }}">{{ col }}</option>
					{% endfor %}
				{% endfor %}
			</select>
		</div>

		<button type="submit">Faire la jointure</button>
	</form>

	<script>
		const table1Select = document.getElementById('table1')
const table2Select = document.getElementById('table2')

const originalOptions = Array.from(table2Select.options)

table1Select.addEventListener('change', () => {
const selectedTable = table1Select.value

table2Select.innerHTML = ''

for (const option of originalOptions) {
if (option.value !== selectedTable) {
table2Select.appendChild(option.cloneNode(true))
}
}
})
	</script>
{% endblock %}
