{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/register.css">
	<link rel="stylesheet" href="/assets/css/settings.css">
{% endblock %}

{% block title %}
	<title>Register</title>
{% endblock %}

{% block main %}
	<main>
		<div class="form-container">
			<form action="" method="POST">
				<div class="title">
					<h4>Create your account</h4>
					<p>Join us !</p>
				</div>
				<div class="fields">
					{% if error.company_name %}
						<p class="error">
							{{error.company_name}}
						</p>
					{% endif %}
					<label for="company_name">Company name</label>
					<input type="text" name="company_name" value="{{user.company_name}}">
				</div>
				<div class="fields">
					{% if error.siret %}
						<p class="error">
							{{error.siret}}
						</p>
					{% endif %}
					<label for="siret">Siret number</label>
					<input type="text" name="siret" value="{{user.siret}}">
				</div>
				<div class="fields">
					{% if error.mail %}
						<p class="error">
							{{error.mail}}
						</p>
					{% endif %}
					<label for="mail">Email adress</label>
					<input type="text" name="mail" value="{{user.mail}}">
				</div>
				<div class="fields">
					{% if error.confirmPassword %}
						<p class="error">
							{{error.confirmPassword}}
						</p>
					{% endif %}
					{% if error.password %}
						<p class="error">
							{{error.password}}
						</p>
					{% endif %}
					<label for="password">Password
					</label>
					<input type="text" name="password">
				</div>
				<div class="fields">
					<label for="confirmPassword">Confirm password</label>
					<input type="text" name="confirmPassword">
				</div>
				<div class="terms">
					<label>
						<input type="checkbox" name="terms" required>
						Terms and Privacy policy
					</label>
				</div>

				<button class="btn-normal" type="submit">Create account</button>
				<div class="link-to-login">
					<p>Already have an account ?</p>
					<a href="/login">Log in</a>
				</div>
			</form>
		</div>
	</main>
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	{% if toast %}
		<script>
			Toastify({
text: "{{ toast.message|e('js') }}",
duration: 3000,
gravity: "top",
position: "center",
backgroundColor: "{{ toast.type == 'error' ? '#ff4d4d' : '#4BB543' }}",
stopOnFocus: true
}).showToast();
		</script>
	{% endif %}
{% endblock %}
